form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px auto 20px;
}
button {
  padding: 12px;
  font-size: 16px;
  background-color: rgba(184, 74, 203, 0.26);
  color: rgb(23, 23, 23);
}

input {
  padding: 5px;
  padding-left: 10px;
  font-size: 16px;
  background: rgba(184, 74, 203, 0.26);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.37);
  flex-grow: 2;
}
